<template name="idSelect">
    <figure id="large_logo">
        <img id="logo" src="/img/an_logo.png"/>
        <figcaption>Net Tracker</figcaption>
    </figure>
    <section id="caption">
        <p>Developed by Danny Yan</p>
        <small>Image assets borrowed from ANCUR Wiki</small>
    </section>
    
    <section id="selectSide">
        <a href='/corp'><button id="corpBtn">Corporation</button></a>
        <a href='/runner'><button id="runnerBtn">Runner</button></a>
    </section>
    <footer>Version 0.1.3</footer>
</template>