<template name="runnerSelect">
    <figure id="small_logo">
        <img id="logo" src="/img/an_logo.png"/>
        <figcaption>Net-Tracker</figcaption>
    </figure>
<!--
    <h1>You have selected the <span class="{{faction.name}}">{{faction.label}}</span></h1>
    <p>Select your Runner</p>
-->
    <section id="mask">
        <ul class="selectList" id="runnerSelect">
            {{> selectRunner}}
        </ul>
    </section>
</template>

<template name="selectRunner">
    {{#each runner}}
        <li><a href="/tracker/{{_id}}" style="background:url('{{imageURL}}') no-repeat; background-size:cover;"></a></li>
    {{/each}}
</template>