// STYLES ARE LANDSCAPE BY DEFAULT; ADDED MEDIA QUERY FOR PORTRAIT

::-webkit-scrollbar { 
    display: none; 
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('/font/alegreyasanssc-thin-webfont.eot');
    src: url('/font/alegreyasanssc-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/alegreyasanssc-thin-webfont.woff2') format('woff2'),
         url('/font/alegreyasanssc-thin-webfont.woff') format('woff'),
         url('/font/alegreyasanssc-thin-webfont.ttf') format('truetype'),
         url('/font/alegreyasanssc-thin-webfont.svg#alegreya_sans_scthin') format('svg');
    font-weight: 200;
    font-style: normal;

}
@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('/font/alegreyasanssc-light-webfont.eot');
    src: url('/font/alegreyasanssc-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/alegreyasanssc-light-webfont.woff2') format('woff2'),
         url('/font/alegreyasanssc-light-webfont.woff') format('woff'),
         url('/font/alegreyasanssc-light-webfont.ttf') format('truetype'),
         url('/font/alegreyasanssc-light-webfont.svg#alegreya_sans_sclight') format('svg');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('/font/alegreyasanssc-bold-webfont.eot');
    src: url('/font/alegreyasanssc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/alegreyasanssc-bold-webfont.woff2') format('woff2'),
         url('/font/alegreyasanssc-bold-webfont.woff') format('woff'),
         url('/font/alegreyasanssc-bold-webfont.ttf') format('truetype'),
         url('/font/alegreyasanssc-bold-webfont.svg#alegreya_sans_scbold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@blue: #91bdd1;
@teal: #0081A5;
@gray: #DEDBD9;

// ----------------------------------------  Corp primary colour
@hb:darken(#E3DBE8, 30%);
@jin:darken(#F4D1C0, 30%);
@nbn:#F3D925;
@weyland:darken(#C8D0C4, 30%);

.haasBioroid {
    color:@hb;
    &#trackerWrap{
        border:2px solid @hb;
    }
}
.jinteki { 
    color:@jin;
    &#trackerWrap{
        border:2px solid @jin;
    }
}
.nbn { 
    color:@nbn;
    &#trackerWrap{
        border:2px solid @nbn;
    }
}
.weyland { 
    color:@weyland;
    &#trackerWrap{
        border:2px solid @weyland;
    }
}

// ----------------------------------------  Runner primary colour
@anarch:#DE5E3C;
@criminal:#5377B6;
@shaper:#829949;
@neutral:#777;

.anarch { color:@anarch;}
.criminal { color:@criminal;}
.shaper { color:@shaper;}
.neutral { color:@neutral;}

.anarch { 
    color:@anarch;
    &#trackerWrap{
        border:2px solid @anarch;
    }
}
.criminal { 
    color:@criminal;
    &#trackerWrap{
        border:2px solid @criminal;
    }
}
.shaper { 
    color:@shaper;
    &#trackerWrap{
        border:2px solid @shaper;
    }
}
.neutral { 
    color:@neutral;
    &#trackerWrap{
        border:2px solid @neutral;
    }
}

// ----------------------------------------  Scroll-bar styling
::-webkit-scrollbar {
    height:8px;
    background:none;
}

::-webkit-scrollbar-track {
    background:none;
    -webkit-box-shadow:none;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background:@gray;
    -webkit-box-shadow:inset -3px -1px 5px 0 darken(@gray, 30%);
    border-radius:10px;
    -webkit-border-radius:10px;
}

.psudo {
    content:'';
    display:block;
    position:absolute;
}
.clearfix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}


// ----------------------------------------- Colour theming for tracker page
.bg(@color) {
    background:@color;
}
.label(@color) {
    background:@color;
    #triangle:before {border-right-color:@color;}
}
.credit(@color) {
    background:@color;
    &:before {border-bottom-color:@color;}
    &:after {border-top-color:@color;}
}
.click(@color) {
    background:@color;
    &:before{border-right-color:@color;}
    &:after {border-left-color:@color;}
}





////////////////////////////////////////////////////////////
//////////                GLOBAL                  //////////
////////////////////////////////////////////////////////////

* {
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
}
html {
    // Nexus 5 portrait and landscape - testing only
    width:100%;
    height:100%;
    background:white;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.container {
    height:100%;
}

.wrap {
    padding:0.5em 6%;
    height:100%;
    position:relative;
}
body {
    background:url('/img/dark_geometric/dark_geometric.png') repeat;
    width:100%;
    height:100%;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:300;
    font-size:1.5em;
    letter-spacing:2px;
    line-height:1;
    margin:1.3em 0 0;
    color:lighten(@gray, 20%);
}
p {
    color:@gray;
    font-weight:200;
    letter-spacing: 2px;
    line-height:1;
    margin:0;
}

button {
    color:black;
    border:none;
    background:#f4f4f4;
}


figure { // main logo
    display:block;
    text-align:center;
    line-height:0;
}
img#logo {
    #large_logo & {
        width:100%;    
    }
    #small_logo & {
        width:auto;
        height:35px;
    }
}
figcaption { // sub title underneath logo
    font-weight:600;
    letter-spacing:5px;
    color:@gray;
    line-height:0;
    padding-top:0.75em;
    
    #large_logo & {
        text-align:left;
        font-size:1.1em;
        //margin-bottom:5em;
    }
    #small_logo & {
        text-align:center;
        font-size:0.75em;
        font-weight:300;
    }
}

.selectList { // card select UL container
    padding:0;
    .clearfix;
    li {
        float:left;
        list-style-type:none;
        position:relative;
        a {
            display:inline-block;
            position:absolute;
            top:0;
            left:0; right:0;
            button {
                background:none;
            }
        }
    }
}

@media only screen and (orientation:portrait) {
    figcaption {
        text-align:center !important;
    }
}








////////////////////////////////////////////////////////////
///////////              HOME PAGE                //////////
////////////////////////////////////////////////////////////

#selectSide {
    margin: 10vw 0 0;
    .clearfix;
    a {
        position:relative;
        z-index:10;
        float:left;
        margin-right:4%;
        width:48%;
        &:last-of-type {
            margin-right:0;
        }
    }
    button {
        width:100%;
        padding:0.4em;
        border:2px solid #252525;
        box-shadow:inset 0 3px 7px 1px #aaa;
        border-radius:0.55em;
        font-size:1.4em;
        background:white;
        &:before {
            .psudo;
            bottom:-0.1em;
            left:0; right:0;
            margin:0 auto;
            width:99%;
            height:100%;
            border-radius:0.59em;
            z-index:-1;
            background:@blue;
        }
    }
}
#caption {
    text-align:right;
    color:white;
    font-weight:100;
    font-size:1.3em;
    small {
        font-style:italic;
    }
}
footer {
    position:absolute;
    top:1em;
    right:2em;
    color:white;
}

@media only screen and (orientation:portrait) {
    #caption {
        margin:3em 0 15vh;
        text-align:center;
    }
    footer {
        top:auto;
        bottom:2em;
        right:2em;
    }
    #selectSide {
        margin:0 0 0;
        a {
            width:100%;
            margin-right:0;
            margin-bottom:1em;
        }
    }
}

////////////////////////////////////////////////////////////
//////////     CORP + RUNNER SELECT PAGES         //////////
////////////////////////////////////////////////////////////

#corpSelect, #divisionSelect, #factionSelect, #runnerSelect {
    li a {
        width:100%;
        background-position:center !important;
        button {
            position:absolute;
            top:88px;
            left:0;
            right:0;
            width:100%;
            line-height:0.88;
            font-size:1.3em;
            font-weight:300;
            height:40px;
        }
    }
}
#corpSelect, #factionSelect {
    li a {
        height:100%;
    }
}

#corpSelect li {
    width:25%;
    height:100px;
}
#factionSelect  {
    li {
        width:25%;
        height:100px;
    }
    li a button {
        margin-top:2em;
    }
}

#mask {
//    width:525px;
//    height:220px;
    height: 70%;
    width: 100%;
    overflow: scroll;
}
#divisionSelect, #runnerSelect {
    height: 100%;
    overflow: auto;
    .clearfix;
    li {
        width:150px;
        margin-right:0.6857%;
        height:93%;
        a {
            height:100%;
        }
        a button {
            bottom:-3.1em;
            font-size:0.9em;
        }
        &:last-of-type {
            margin-right:0;
        }
    }   
}

@media only screen and (orientation:portrait) {
    #corpSelect li {
        width: 50%;
        margin-bottom:12vh;
    }
    
    #factionSelect li {
        width:50%;
        margin-bottom:12vh;
        a button {
            margin-top:0;
            top:110px;
        }
    }
    
    #mask {
    //    width:525px;
    //    height:220px;
        height: 80%;
    }
    
    #divisionSelect, #runnerSelect {
        li {
            float:left;
            width:49%;
            height:35.1674%;
            margin-right:2%;
            margin-bottom:25%;
            &:nth-of-type(2n+2) {
                margin-right:0;
            }
            
            a {
                height:139.3333%;
            }
        }
    }
}





////////////////////////////////////////////////////////////
//////////         TRACKER MAIN STYLES            //////////
////////////////////////////////////////////////////////////

#trackerWrap {
    padding:0;
}

#trackerContainer {
    position:relative;
    height:100%;
    .wrap {
        padding:0.5em;
    }
    .full-width{
        width:100%;
        height:55%;
        display:block;
        //background:#404040;
        //border:1px solid #505050;
        //border-radius:0.75em;
        &:last-of-type {
            height:45%;
            margin-bottom:0;
        }
        
        @media only screen and (orientation:portrait) {
            height:57%;
            &:last-of-type {
                height:43%;
            }
        }
    }
}

#homeButton {
    position:absolute;
    color:white;
    top:0;
    right:0;
    font-size:1.5rem;
    padding:0 0.2em 0 0.3em;
    z-index:999;
    @media only screen and (orientation:portrait) {
        top:auto;right:auto;
        bottom:0;
        right:0;
        font-size:2rem;
    }
    
    .haasBioroid & {.bg(@hb);}
    .jinteki & {.bg(@jin);}
    .nbn & {.bg(@nbn);color:black;}
    .weyland & {.bg(@weyland);}
    .anarch & {.bg(@anarch);}
    .criminal & {.bg(@criminal);}
    .shaper & {.bg(@shaper);}
    .neutral & {.bg(@neutral);}
}

// -------------------------------------------- Credits Container

#creditsContainer .hexagon {
    position:absolute;
    width:12vw;
    height:12vh;
    float:left;
    &:before, &:after {
        .psudo;
        left:0; right:0;
        border-left:6vw solid transparent;
        border-right:6vw solid transparent;
    }
    &:before {
        top:0;
        transform:translateY(-100%);
        border-bottom-style:solid;
        border-bottom-width:6vh;
    }
    &:after {
        bottom:0;
        transform:translateY(100%);
        border-top-style:solid;
        border-top-width:6vh;
    }
    
    @media only screen and (orientation:portrait) {
        width:12vh;
        height:7vh;
        &:before, &:after {
            border-left:6vh solid transparent;
            border-right:6vh solid transparent;
        }
        &:before {
            top:0;
            border-bottom-width:6vw;
        }
        &:after {
            bottom:0;
            border-top-width:6vw;
        }
    }
}
#creditsContainer {
    .clearfix;
    
    #totalCredits {
        float:left;
        width:30%;
        margin-right:3%;
        height:100%;
        position:relative;
        
        strong {
            float:left;
            position:relative;
            left:15px;
            font-weight:400;
            font-size:18vw;
            line-height:0.7;
            color:white;
        }
    }
    
    #manageCredits {
        float:left;
        width:67%;
        height:100%;
        padding-top:0.8em;
        
        #add, #subtract {
            width:100%;
            height:50%;
            line-height:100%;
            position:relative;
            label {
                position:absolute;
                top:1.5vh; bottom:1.5vh;
                right:5px;
                color:white;
                font-size:6.5vw;
                font-weight:900;
//                -webkit-touch-callout: none;
//                -webkit-user-select: none;
//                -khtml-user-select: none;
//                -moz-user-select: none;
//                -ms-user-select: none;
//                user-select: none;
            }
        }
        
        #add {
            top:4vh;
            .hexagon {
                .haasBioroid & {.credit(@hb);}
                .jinteki & {.credit(@jin);}
                .nbn & {
                    .creditSymbol {
                        border-color:black;
                        .square {
                            background:black;
                        }
                        &:before, &:after {
                            border-color:black;
                        }
                    }
                    label {color:black;}
                    .credit(@nbn);
                }
                .weyland & {.credit(@weyland);}
                .anarch & {.credit(@anarch);}
                .criminal & {.credit(@criminal);}
                .shaper & {.credit(@shaper);}
                .neutral & {.credit(@neutral);}
                
                &:nth-of-type(2) {
                    left:14vw;
                }
                &:nth-of-type(3) {
                    left:28vw;
                }
                &:nth-of-type(4) {
                    left:42vw;
                }
            }
        }
        #subtract {
            //transform:translateX(7vw);
            .hexagon {
                left:7.25vw;
                .haasBioroid & {.credit(lighten(@hb, 10%));}
                .jinteki & {.credit(lighten(@jin, 10%));}
                .nbn & {
                    .creditSymbol {
                        border-color:black;
                        .square {
                            background:black;
                        }
                        &:before, &:after {
                            border-color:black;
                        }
                    }
                    label {color:black;}
                    .credit(lighten(@nbn, 10%));
                }
                .weyland & {.credit(lighten(@weyland, 10%));}
                .anarch & {.credit(lighten(@anarch, 10%));}
                .criminal & {.credit(lighten(@criminal, 10%));}
                .shaper & {.credit(lighten(@shaper, 10%));}
                .neutral & {.credit(lighten(@neutral, 10%));}
                
                &:nth-of-type(2) {
                    left:21.25vw;
                }
                &:nth-of-type(3) {
                    left:35.25vw;
                }
                &:nth-of-type(4) {
                    left:49.25vw;
                }
            }
        }
    }
    .creditSymbol {
        width:30px;
        height:29px;
        background:none;
        border-right:4px solid white;
        border-left:4px solid white;
        text-align:left;
        line-height:0;
        font-size:0;
        position:relative;

        &:before, &:after {
            .psudo;
            width:17px;
            height:17px;
            left:0.05vw;
            -webkit-transform:rotate(45deg);
        }
        &:before {
            top:-11px;
            bottom:auto;
            border-top:4px solid white;
            border-left:4px solid white;
        }
        &:after {
            top:auto;
            bottom:-11px;
            border-bottom:4px solid white;
            border-right:4px solid white;
        }

        .square {
            width:12px;
            height:12px;
            background:white;
            position:absolute;
            top:4px;
            left:-1px;
            -webkit-transform:skew(0deg, 30deg);
        }

        &.large {
            -webkit-transform:scale(0.75);
            -webkit-transform-origin:left top;
            float:left;
            top:30px;
            left:10px;
        }
        &.small {
            -webkit-transform:scale(0.46);
            -webkit-transform-origin:left top;
            float:left;
            top:3.75vh;
            bottom:3.75vh;
            left:5px;
        }
    }
    
    @media only screen and (orientation:portrait) {
        #totalCredits {
            width:100%;
            float:none;
            height:auto;
            .clearfix;
            strong {
                position:relative;
                left:auto;
                margin-left:5%;
                font-size:18vh;
            }
        }
        #manageCredits {
            padding:0;
            margin-left:-5px;
            width:100%;
            height:100px;
            #add, #subtract {position:absolute; height:auto;}
            #add {
                top:25vh;
                .hexagon {
                    left:auto;
                    right:66vw;
                    &:nth-of-type(2) {
                        left:auto;
                        right:45vw;
                    }
                    &:nth-of-type(3) {
                        left:auto;
                        right:24vw;
                    }
                    &:nth-of-type(4) {
                        left:auto;
                        right:3vw;
                    }
                }
            }
            #subtract {
                top:37vh;
                .hexagon {
                    left:auto;
                    right:77vw;
                    &:nth-of-type(2) {
                        left:auto;
                        right:56vw;
                    }
                    &:nth-of-type(3) {
                        left:auto;
                        right:35vw;
                    }
                    &:nth-of-type(4) {
                        left:auto;
                        right:14vw;
                    }
                }
            }
        }
    }
}

#miscContainer {
    > div {
        float:left;
        height:135px;
        position:relative;
    }
    #badPublicity, #agenda, #tag, #mu, #link {
        height:auto;
        img {
            width:100%;
        }
        label {
            position:absolute;
            left:0; right:0;
            top:11vh;
            width:100%;
            text-align:center;
            line-height:0;
            font-size:11vw;
            color:white;
            text-shadow: black 0 0 2px,rgba(0,0,0,0.65) 0 0 20px;
//            -webkit-touch-callout: none;
//            -webkit-user-select: none;
//            -khtml-user-select: none;
//            -moz-user-select: none;
//            -ms-user-select: none;
//            user-select: none;
        }
    }
    #badPublicity, #tag {
        width:22.5%;
        margin-right:1.5%;
        padding:0.5em;
        
        #badPubTotal, #tagTotal {
            position:relative;
        }
        
        #tagTotal label {
            text-align:center;
        }
        
        .badPubButton, .tagButton {
            position:absolute;
            height:100%;
            width:2em;
            top:0;
            bottom:0;
            &.plus {
                left:-5vw;
            }
            &.minus {
                right:-5vw;
            }
            label {
                top:2.2rem;
                -webkit-border-radius:3px;
                border-radius:3px;
                padding:0.3em 0 0.2em;
                font-size:4.8vh;
                background:#ababab;
            }
        }
        .anarch &,
        .criminal &,
        .shaper &,
        .neutral & {
            margin-right:1%;
        }
    }
    #agenda {
        width:20%;
        margin-right:0%;
        #agendaTotal {
            position:relative;
        }
        .agendaButton {
            float:left;
            width:40%;
            margin-right:20%;
            position:relative;
            &:last-child {
                margin-right:0;
            }
            label {
                bottom:60%;
                font-size:1.8rem;
                font-weight:400;
                color:white;
            }
        }
    }
    .middleSect {
        width:20%;
        #mu img {
            width:10vw;
        }
        #link img {
            width:7vw;
        }
        #mu, #link {
            position:relative;
            #muTotal label{
                text-align:left;
                color:black;
                top:38%;
                left:10%;
                bottom:auto;
                right:auto;
                font-size:6vw;
                text-shadow:none;
            }
            #linkTotal label {
                text-align:inherit;
                top:-0.3rem;
                left:38%;
                font-size:2.6em;
            }
            .muButton label i,
            .linkButton label i {
                position:relative;
                right:3.5vw;
            }
            .muButton.plus label,
            .linkButton.plus label {
                text-align:right;
                margin:0;   
                top:15%;
                right:0;
                font-size:3vw;
            }
            .muButton.minus label,
            .linkButton.minus label {
                text-align:right;
                margin:0;
                top:auto;
                bottom:40%;
                font-size:3vw;
            }
        }
    }
    
    #clicks {
        width:70%;
        #click-container {
            position:absolute;
            top:40%;
            left:5%;
            width:100%;
            
            img {
                width:100%;
                margin:0 auto;
                display:block;
            }
            .click {
                float:left;
                width:15%;
                padding:1.2vw 0;
                margin-right:5.5%;
                font-size:16px;
                line-height:0;
                position:relative;
                background:#555;
                &:before, &:after {
                    .psudo;
                    top:0; bottom:0;
                    border-top:6.5vw solid transparent;
                    border-bottom:6.5vw solid transparent;
                }
                &:before {
                    left:0;
                    transform:translateX(-100%);
                    border-right:3vw solid #555;
                }
                &:after {
                    right:0;
                    transform:translateX(100%);
                    border-left:3vw solid #555;
                }
                
                &:nth-of-type(2n) {
                    bottom:6.5vw;
                }
            }
            .click.on {
                .haasBioroid & {.click(@hb);}
                .jinteki & {.click(@jin);}
                .nbn & {.click(@nbn);}
                .weyland & {.click(@weyland);}
                .anarch & {.click(@anarch);}
                .criminal & {.click(@criminal);}
                .shaper & {.click(@shaper);}
                .neutral & {.click(@neutral);}
            }
            .click.on.done {
                .haasBioroid & {.click(lighten(@hb, 10%));}
                .jinteki & {.click(lighten(@jin, 10%));}
                .nbn & {.click(lighten(@nbn, 10%));}
                .weyland & {.click(lighten(@weyland, 10%));}
                .anarch & {.click(lighten(@anarch, 10%));}
                .criminal & {.click(lighten(@criminal, 10%));}
                .shaper & {.click(lighten(@shaper, 10%));}
                .neutral & {.click(lighten(@neutral, 10%));}
            }
        }
        .anarch &,
        .criminal &,
        .shaper &,
        .neutral & {
            //width:35%;
            #click-container .click {
                &:before, &:after {
                    .psudo;
                    top:0;
                    border-top:6.5vw solid transparent;
                    border-bottom:6.5vw solid transparent;
                }                
                &:nth-of-type(2n) {
                    bottom:7vw;
                }
            }
        }
    }
    
    @media only screen and (orientation:portrait) {
        #badPublicity, #tag, #agenda {
            float:right;
            top:6vh;
            width:30%;
            height:20vh;
            margin:auto;
            text-align:center;
            img {
                width:100%;
            }
            
            .badPubButton, .tagButton {
                margin:auto;
                height:2em;
                width:50%;
                &.plus {
                    left:0;
                    right:0;
                    top:-8vh;
                    margin:0 auto;
                    label {top:0;}
                }
                &.minus {
                    right:0;
                    left:0;
                    top:auto;
                    bottom:0vh;
                    label {top:0;}
                }
            }
            label {
                top:5.5vh;
            }
        }
//        .middleSect {
//            width:36%;
//            height:auto;
//            margin-top:1em;
//            #mu, #link {
//                #muTotal {
//                    img {
//                        width:13vw;
//                    }
//                    label {
//                        font-size:2em;
//                    }
//                }
//                #linkTotal{
//                    img {
//                        width:13vw;
//                    }
//                    label {
//                        font-size:3em;
//                        width:auto;
//                        left:40%;
//                    }
//                }
//                .linkButton.plus label,
//                .linkButton.minus label {
//                    font-size:1rem;
//                }
//                .muButton.plus label,
//                .muButton.minus label {
//                    font-size:1rem;
//                }
//            }
//        }
        #clicks {
            float:none;
            position:absolute;
            height:75px;
            bottom:0;left:0;right:0;
            width:100%;
            margin:auto;
            #click-container {
                top:auto;
                bottom:0;
                left:auto;
                padding:0 0 1rem 2rem;
            }
            #click-container .click {
                width:20%;
                position:absolute;
                bottom:3vh;
                left:8vw;
                &:before, &:after {
                    border-top:11vw solid transparent;
                    border-bottom:11vw solid transparent;
                }
                &:before {
                    border-right-width:5vw;
                }
                &:after {
                    border-left-width:5vw;
                }
                &:nth-of-type(2) {
                    bottom:18.5vh;
                }
                &:nth-of-type(3) {
                    bottom:11vh;
                    left:34.5vw;
                    
                }
            }
            
            .anarch &,
            .criminal &,
            .shaper &,
            .neutral & {
                #click-container .click {
                    width:16%;
                    &:before, &:after {
                        border-top:5.8vh solid transparent;
                        border-bottom:5.8vh solid transparent;
                    }
                    &:before {
                        border-right-width:3vh;
                    }
                    &:after {
                        border-left-width:3vh;
                    }
                    &:nth-of-type(2) {
                        bottom:16vh;
                    }
                    &:nth-of-type(3) {
                        bottom:9.5vh;
                        left:30vw;
                    }
                    &:nth-of-type(4) {
                        bottom:22.5vh;
                        left:30vw;
                    }
                }
            }
        }
    }
}

#label {
    position:absolute;
    display:inline;
    text-align:right;
    z-index:10;
    bottom:0; right:0;
    padding:0.4em 0.2em 0.4em 0em;
    background:@teal;
    
    #triangle {
        height: 0;
        overflow: hidden;
        position:absolute;
        bottom:-2px;
        width:7.4vw;
        padding-top:7.4vw;
        left:-7.4vw;
        &:before {
            .psudo;
            margin-top:-500px;
            border-top:500px solid transparent;
            border-right:500px solid @teal;
        }
    }
    @media only screen and (orientation:portrait) {
        top:0; bottom:auto;
        #triangle {
            width:12.3vw;
            padding-top:12.3vw;
            left:-12.3vw;
            top:-2px; bottom:auto;
            -webkit-transform:scaleY(-1);
            transform:scaleY(-1);
        }
    }
    
    .haasBioroid & {
        .label(@hb);
        h1 { color:#333;}
        p { color:white;}
    }
    .jinteki & {
        .label(@jin);
        h1 { color:#333;}
        p { color:white;}
    }
    .nbn & {
        .label(@nbn);
        h1, p { color:#333;}
    }
    .weyland & {
        .label(@weyland);
        h1 { color:#333;}
        p { color:white;}
    }
    .anarch & {
        .label(@anarch);
        h1 { color:#333;}
        p { color:white;}
    }
    .criminal & {
        .label(@criminal);
        h1 { color:#333;}
        p { color:white;}
    }
    .shaper & {
        .label(@shaper);
        h1 { color:#333;}
        p { color:white;}
    }
    .neutral & {
        .label(@neutral);
        h1 { color:#333;}
        p { color:white;}
    }
    h1, p {
        display:block;
        margin:0;
        padding:0;
    }
    h1 {
        font-size:1.2em;
    }
    p {
        font-size:1em;
    }
}
